<section id="nav_top">
    {% if page.url == "/" -%}
        <span class="selected">Home</span>
    {%- else -%}
        <span><a href="/">Home</a></span>
    {%- endif %}
    {% if page.url == "/Directions.html" -%}
        <span class="selected">How to Get There</span>
    {%- else -%}
        <span><a href="/Directions.html">How to Get There</a></span>
    {%- endif %}
    {% if page.url == "/Contact.html" -%}
        <span class="selected">Contact Us</span>
    {%- else -%}
        <span><a href="/Directions.html">Contact Us</a></span>
    {%- endif %}
</section>
