section#nav_top {

    /* Main navigation bar settings */
    nav {
        border: 1px solid #dedede;
        border-radius: 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: block;
        margin: 8px 22px 8px 22px;
        overflow: hidden;
        width: 90%;

        /* Navigation menu headings settings */
        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                list-style-type: none;

                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -ms-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
            }
        }

        > ul > li {
            &:hover > div {
                display: block;
                opacity: 1;
                visibility: visible;
            }

            > div ul > li {
                display: block;

                > a {
                    display: block;
                    padding: 12px 24px;
                    text-decoration: none;
                }

                &:hover {
                    > a {
                        background-color: rgba( 255, 255, 255, 0.1);
                    }
                }
            }
        }

        /* Navigation color settings */
        .menu {
            background-image: linear-gradient(#2a4a29, #1c1c1c);

            /* Navigation head settings */
            &_head {
                &:hover {
                    background-color: #2a5a29;
                }

                &_selected {
                    background-color: #2a4a29;
                }

                &_text {
                    color: #d7cfbe;
                    display: block;
                    line-height: 56px;
                    padding: 0 24px;
                    text-decoration: none;

                    &:hover {
                        color: white;

                        > .caret {
                          border-top-color: white;
                        }
                    }

                    > .caret {
                        border-top: 4px solid #d7cfbe;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                        content: "";
                        display: inline-block;
                        height: 0;
                        width: 0;
                        vertical-align: middle;

                        -webkit-transition: color 0.1s linear;
                        -moz-transition: color 0.1s linear;
                        -o-transition: color 0.1s linear;
                          transition: color 0.1s linear;
                    }
                }
            }

            /* Navigation sub-menu settings */
            &_sub {
                background-color: #2a5a29;
                border-top: 0;
                border-radius: 0 0 4px 4px;
                box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
                display: none;
                margin: 0;
                opacity: 0;
                position: absolute;
                width: 165px;
                visibility: hidden;
                z-index: 100;

                -webkit-transiton: opacity 0.2s;
                -moz-transition: opacity 0.2s;
                -ms-transition: opacity 0.2s;
                -o-transition: opacity 0.2s;
                -transition: opacity 0.2s;
            }

            &_item {
                > a {
                    color: #d7cfbe;
                }

                &_selected > a {
                    color: yellow;
                    background-color: #2a7a29;
                }
            }
        }
    }
}

/*------------------------------------------------------------------------------------------------*/
