@import "normalize";

body {
    padding: 0;
    margin: 20px 10px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    background: #252525;
    background-attachment: fixed !important;
    background: linear-gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
    margin: 10px 0;
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

a {
    color:#ffcc00;
    font-weight:400;
    text-decoration:none;

    &:hover {
        color: #ffeb9b;
    }
}

/*------------------------------------------------------------------------------------------------*/

section {
    max-width: 1080px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------------------------*/

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #b6b6b6;
    font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
}

/*------------------------------------------------------------------------------------------------*/

.hidden {
    visibility: hidden;
}

/*------------------------------------------------------------------------------------------------*/

section#title {
    border: 0;
    outline: none;
    padding: 0 0 5px;

    h1 {
        font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        line-height: 36px;
    }
}

/*------------------------------------------------------------------------------------------------*/

section#nav_top {
    text-align: center;

    span {
        color: #d7cfbe;
        font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}

/*------------------------------------------------------------------------------------------------*/

.menu_head {
  	text-transform: capitalize;
}

.menu_selected {
	text-transform: uppercase;
}

nav {
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 90%;
}

nav ul {
    margin: 0;
    padding: 0;
}
 
	nav ul li {
		display: inline-block;
		list-style-type: none;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}

		nav > ul > li > a {
			color: #aaa;
			display: block;
			line-height: 56px;
			padding: 0 24px;
			text-decoration: none;
		}

		nav > ul > li > a > .caret {
			border-top: 4px solid #aaa;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			content: "";
			display: inline-block;
			height: 0;
			width: 0;
			vertical-align: middle;
 
			-webkit-transition: color 0.1s linear;
			-moz-transition: color 0.1s linear;
			-o-transition: color 0.1s linear;
			  transition: color 0.1s linear;
		}

	nav > ul > li:hover {
	  background-color: rgb( 140, 44, 47 );
	}
 
	nav > ul > li:hover > a {
	  color: rgb( 255, 255, 255 );
	}
 
	nav > ul > li:hover > a > .caret {
	  border-top-color: rgb( 255, 255, 255 );
	}

nav > ul > li > div {
    background-color: rgb( 40, 144, 47 );
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 165px;
    visibility: hidden;
    z-index: 100;
 
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
 
    nav > ul > li > div ul > li {
        display: block;
    }
 
        nav > ul > li > div ul > li > a {
            color: #fff;
            display: block;
            padding: 12px 24px;
            text-decoration: none;
        }
 
    nav > ul > li > div ul > li:hover > a {
        background-color: rgba( 255, 255, 255, 0.1);
    }

nav > ul > li:hover > div {
    display: block;
    opacity: 1;
    visibility: visible;
}
