@import "normalize";

body {
    padding: 0;
    margin: 20px 10px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f0e7d5;
    font-weight: normal;
    background: #252525;
    background-attachment: fixed !important;
    background-image: linear-gradient(#1c1c1c, #2a4a29);
}

h1, h2, h3, h4, h5, h6 {
    color: #e8e8e8;
    margin: 10px 0;
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

a {
    color:#ffcc00;
    font-weight:400;
    text-decoration:none;

    &:hover {
        color: #ffeb9b;
    }
}

/*------------------------------------------------------------------------------------------------*/

section {
    max-width: 1080px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------------------------*/

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #b6b6b6;
    font-family: "OpenSansSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
}

/*------------------------------------------------------------------------------------------------*/

.hidden {
    visibility: hidden;
}

/*------------------------------------------------------------------------------------------------*/

@import "title";

/*------------------------------------------------------------------------------------------------*/

@import "nav-top";

/*------------------------------------------------------------------------------------------------*/

@import "toc";

/*------------------------------------------------------------------------------------------------*/

ul.postlist {
    font: 20px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style-image: url('/assets/cookie-session.png');
}

span.postexcerpt {
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*------------------------------------------------------------------------------------------------*/

.img_committee {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.img_game {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.img_poster {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.img_post {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
