section#title {
    border: 0;
    outline: none;
    padding: 0 0 5px;

    h1 {
        font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        line-height: 36px;
    }

    p {
        font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
    }
}
